<div class="container">
    <div class="row">
        <div class="offset-md-3 col-md-6">
            <h1><%= title %></h1>

            <form class="form" method="POST">
                <input type="hidden" name="id" value="<%= contacts._id %>" >
                <div class="form-group">
                    <label for="nameTextField">Contact Name</label>
                    <input type="text" class="form-control"
                    id="nameTextField"
                    placeholder="Enter the Contact Title"
                    name="name" 
                    value="<%= contacts.name %>"
                    required>
                </div>

                <div class="form-group">
                    <label for="authorTextField">Contact Number</label>
                    <input type="number" class="form-control"
                    id="contactsNumberTextField"
                    placeholder="Enter the Contact Number"
                    name="number" 
                    value="<%= contacts.number %>"
                    required>
                </div>

                <div class="form-group">
                    <label for="publishedTextField">Email</label>
                    <input type="text" class="form-control"
                    id="emailTextField"
                    placeholder="Enter the Email"
                    name="email" 
                    value="<%= contacts.email %>"
                    required>
                </div>

                <!-- Input Buttons -->
                <button class="btn btn-primary" type="submit">
                    <i class="fas fa-edit"></i> Submit</button>
                
                    <a href="/contacts-list" class="btn btn-warning">
                        <i class="fas fa-undo"></i> Cancel</a>

            </form>
        </div>

    </div>
</div>